# Ignore virtual environment
venv/
.venv/

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore VS Code settings
.vscode/

# Ignore system files
.DS_Store
Thumbs.db

archive/
bitcoin-price-scraper/
website/
bitcoin-price-scraper/*.csv
